<!DOCTYPE html>
<html>
<head>
	<title>Javier</title>
	<meta charset="utf-8">
  	<link rel="stylesheet" href="style.css">
</head>
<body>
    <header>
        <div class="container-fluid center">
		 <div class="row">
		   <div class="col-md-12">
		       <div> Web Developement</div>
		       <div> <%= link_to "About Me", abouts_path %> </div>
		   </div>
		  </div>
		</div>
    </header>

    <footer>
     <div><font color=#000>Powered by Javibier</font></div>
    </footer>
</body>
</html>