<!DOCTYPE html>
<html>
 
<head>
	<title>Javier</title>
	<meta charset="utf-8">
	<meta name="viewport" content="widh=device-width, initial-scale=1">
	
  	
  	
</head>
<body>
    <header>
        <div class="container-fluid">
		 <div class="row">
		   <div class="col-sm-6 text-right">
		      <a class="link" href="/abouts"> About Me</a>
		   </div>   
		   <div class="col-sm-6 text-left">
		      <a class="link" href="/projects"> My Projects </a>
		   </div>
        </div> 
       </div> 
    </header>
        <div class="container-fluid center">
		 <div class="row">
		   <div class="col-md-12">
		       <div> Web Developement</div>
		   </div>
		  </div>
		</div>
    <footer>
     <div class="container-fluid footer">
		<div class="row">
		   <div class="col-md-12">
		       <p>Powered by Javibier</p>
		   </div>
		</div>
	 </div>
    </footer>
</body>
</html>