<!DOCTYPE html>
<html lang="en">
 
<head>
	<title>Javier</title>
	<meta charset="utf-8">
	<meta name="viewport" content="widh=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  	
  	
</head>
<body>
    <header>
        <div class="container-fluid header">
		 <div class="row">
		   <div class="col-sm-6 text-left">
		      <a class="link" href="/abouts"> About Me</a>
		   </div>   
		   <div class="col-sm-6 text-right">
		      <a class="link" href="/projects"> My Projects </a>
		   </div>
        </div> 
       </div> 
    </header>
        <div class="container-fluid center">
		 <div class="row">
		   <div class="col-md-12">
		       <div> Web Developement</div>
		   </div>
		  </div>
		</div>
		<div class="container-fluid image1">
		 <div class="row">
		   <div class="col-md-12">
		       <div><img style="margin:0px auto;display:block" src="/assets/rails.jpeg" width = "150" height = "150"></a></div><br>
		   </div>
		  </div>
		</div>
		<div class="container-fluid image2">
		 <div class="row">
		   <div class="col-md-12">
		       <div><img style="margin:0px auto;display:block" src="/assets/Ruby.jpeg" width = "150" height = "150"></a></div><br>
		   </div>
		  </div>
		</div>
		<div class="container-flui image3">
		 <div class="row">
		   <div class="col-md-12">
		       <div><img style="margin:0px auto;display:block" src="/assets/html.jpeg" width = "250" height = "150"></a></div><br>
		   </div>
		  </div>
		</div>
		<footer>
	     <div class="container-fluid footer">
			<div class="row">
			   <div class="col-md-12">
			       <a class="link" href="/contacts">Powered by Javibier</a>
			   </div>
			</div>
		 </div>
	    </footer>
</body>
</html>