<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

	<!--
	Design by TEMPLATED
	http://templated.co
	Released for free under the Creative Commons Attribution License

	Name       : Endearing Green 
	Description: A two-column, fixed-width design with dark color scheme.
	Version    : 1.0
	Released   : 20130425

	-->
	<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<title></title>
	<meta name="keywords" content="" />
	<meta name="description" content="" />
	<link href="http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700|Archivo+Narrow:400,700" rel="stylesheet" type="text/css">
	<link href="default.css" rel="stylesheet" type="text/css" media="all" />
	<!--[if IE 6]>
	<link href="default_ie6.css" rel="stylesheet" type="text/css" />
	<![endif]-->

	<link rel="apple-touch-icon" sizes="120x120" href="/apple-touch-icon.png">
	<link rel="icon" type="image/png" href="/favicon-32x32.png" sizes="32x32">
	<link rel="icon" type="image/png" href="/favicon-16x16.png" sizes="16x16">
	<link rel="manifest" href="/manifest.json">
	<link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5">
	<meta name="theme-color" content="#ffffff">
</head>
<html>
<body>
<div id="wrapper-bg">
	<div id="wrapper">
		<div id="header" class="container">
			<div id="logo">
				<h1><a href="/sites"><span>JE </span>Professional Services</a></h1>
			</div>
			<div id="menu">
				<ul>
					<li><a href="/sites#Bot">About Us</a></li>
					<li><a href="/sites#B">Contact Us</a></li>
				</ul>
			</div>
		</div>
    </div>
</div>
<div>
  <div class=fonts2>WE PROVIDE BOOKKEEPING SERVICE AT A LOWER PRICE THAN AN INHOUSE BOOKKEEPER BUT WITH THE SAME BENEFITS:</div><br>

	<div class=fonts1>Affordable: We match the expertise of our bookkeepers to your exact needs so that you don’t have to pay a cent more than what you need. We tune our staffing as your requirements evolve.</div><br>

	<div class=fonts1>Qualified: We are QuickBooks ProAdvisors and accountants. As QuickBooks experts we prepared to handle all of your accounting needs.</div><br>

	<div class=fonts1>Committed: No risk of your bookkeeper disappearing and leaving you stranded. You hired a company, not a specific individual.</div><br>

	<div class=fonts2>WE CAN COME TO YOU OR WORK REMOTELY</div><br>

	<div class=fonts1>If your office is in the Miami-Dade & Fort Lauderdale areas, we can do both. We have some clients who we see every week at their office and others whom we almost never see face to face.</div><br>

	<div class=fonts1>We can provide bookkeeping services in your office or home office. Your paperwork does not leave your site. When we leave your office your books are current and up-to-date. We provide onsite services for invoicing, bill payment, check writing, sates tax reporting, bank and credit card reconciliation, budget and/or financial statements, preparation of all year end reports, W2s and 1099s.</div><br>

	<div class=fonts1>Or we can do all of the above from our office. It’s totally up to you. We make it easy.</div><br>

	<div class=fonts2>USE US AS LITTLE OR AS MUCH AS YOU WANT</div><br>

	<div class=fonts1>We dedicate ourselves to treat each client to their particular needs.</div><br>

	<div class=fonts1>For example, some clients engage us just to help them get setup. We configure QuickBooks for them, train them and that’s it. The clients takes over all the bookkeeping functions. We remain available as a resource for QuickBooks support.</div><br>

	<div class=fonts1>For other clients, that want nothing to do with accounting and the day to day of accounting. They outsource the full range of bookkeeping services to us: data entry, Accounts Payable, Accounts Receivable, etc… All they ask for is a set of financial reports once a month.</div><br>

	<div class=fonts1>However, the majority of our clients fall more in the middle of this range. Typically, the client would outsource certain bookkeeping services to us and retain others. For instance, it is not uncommon for the client to retain control over the invoicing process and delegate to Miami Bookkeeping Solutions the rest of the bookkeeping functions.</div><br>
</div>
<div id="footer">
	<p>&copy; JE Professional Services. All rights reserved. Design by <a href="http://templated.co" rel="nofollow">TEMPLATED</a> and released under the <a href="http://creativecommons.org/licenses/by/3/">Creative Commons Attribution License</a> .</p>
</div>
</body>
</html>