<header>
  		<h1> Addressbook</h1>

  		 <ul>
  		 	  <li>
  		 	   <a href="/"> Home </a>
  		 	  </li>
  		 	  <li>
  		 	   <a href="/new"> Add Contact </a>
  		 	  </li>
        </ul>

</header>


<ul>

	<% @contacts.each do |contact| %>

	   <li><%= contact.name%> , <%=contact.address %> , <%=contact.phone_number %> , <%=contact.email_address%></li>

	<% end %>

</ul>

<!-- <ul>

	<% @contacts.each do |contact| %>

	   <li><a href="/show"</li>

	<% end %>

</ul> -->


