
<header>
  		<h1> Timetracker </h1>

  		<ul>
  		 	<li>
  		 	  <a href="/"> Home </a>
  		 	</li>

        <li>
          <a href="/projects"> Projects </a>
        </li>

        <li>
          <a href="/projects/new"> New Projects </a>
        </li>

        <li>
          <a href="/contact"> Contact </a>
        </li>

      </ul>

</header>