<!DOCTYPE html>
<html>
<head>
	<title></title>

</head>
<body>
    <div class="container-fluid center">
	  <div class="row">
		 <div class="col-md-12">
		    <div> javierechevarria21@yahoo.com</div>
		    <div> 305-748-1367</div>
		 </div>
	  </div>
    </div> 
</body>    
</html>