header {
	background-image: url("./family.jpg");
	background-size: cover;

    width: 100%;
    height: 600px;
}


.innerBox {
    background-color: #000000;
    background: rgba(0,0,0,0.7);
    color: white;
    font-size: 250%;
    text-align: center;
    font-family: Arial;
    width: 500px;
    height: 200px;
   
     margin-top: 200px;
     margin-right: 175px;
     margin-left: 175px;

     position: absolute;
     top: 25px;
     left: 50px;

     padding-top: 25px;

     
}

.signIn {
	background-color: #dc143c;
	color: white;
	font-family: Arial;
	font-size: 100%;
	text-align: center;

	width: 130px;
	height: 25px;

	position: absolute;
	top: 25px;
	right: 50px;

	padding-top: 8px;
}

.freeMonth {
	background-color: #5692c7;
	color: white;
	font-size: 18px;
	font-family: Arial;
	width: 200px;
	height: 30px;
	position: absolute;
	top: 325px;
	right: 350px;
	text-align: center;

	padding-top: 10px;
	
}