
<h1> About Us </h1>

<p> We are growing on a daily basis and hope to grow along side with the Hemp industry. </p>

<h2> Our values are: <h2>

<ul>
  <li> Only natural products </li>
  <li> Serve only the ill </li>
  <li> Always look how it works best with our consumer </li>
</ul>

<% if Date.today.tuesday? %>

	<p>
		Izzy Ironside is <strong>NOT</strong>
		a fan of Tuesdays like today.
    </p>
<% end %>

<p>
	Izzy Ironside was born on
	<%= Date.today %>.
</p>