<header>
  		<h1> Welcome to the JunkAuction </h1>

  		<ul>
  		 	<li>
  		 	  <a href="/"> Home </a>
  		 	</li>

        <li>
          <a href="/users"> Users </a>
        </li>

        <li>
          <a href="/products"> Products on Auction </a>
        </li>

      </ul>

</header>