<h1> Movie Trivia </h1>

<h2> Enter a movie to search </h2>


<form method="post" action="/search_results">
  <input type="text" name="movie_search" placeholder="Aliens">

  <button type="submit">
    Search Movie
  </button>


