header {
  background-color: olive;
  font-size: 20px;
}

footer {
	color: green
}

article {
	background-color: #8fbc8f;
	font-family: "Baskerville";
	color: white;
}

.niceParagraph {
	background-color: white;
	color: blue;
}

#finalParagraph {
	background-color: #808000;
	color: black;
}