
<link rel="stylesheet" href="/styles.css">

<h1> Favorite Pizza </h1>

<p> My favorite pizza is New York pizza </p>

<img src="/pizzapic.gif">

<ul>

	<% @pizza_ingredients.each do |the_ingredients| %>
	 <li>
        Ingredients: <%= the_ingredients %>
     </li>
    <% end %>

</ul>