<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
   <header>
        <div class="container-fluid center">
		 <div class="row">
		   <div class="col-md-12">
		       <div> I strive for excellence in everything I do!!!</div>
		   </div>
		  </div>
		</div>    
   </header>

</body>
</html>