<!DOCTYPE html>
<html>
<body>
   <header>
         <div class="container-fluid">
		 <div class="row">
		   <div class="col-md-12">
		       <div><a href="/"> Home </a></div>
		   </div>
		  </div>
		</div>
        <div class="container-fluid center">
		 <div class="row">
		   <div class="col-md-12">
		       <div> I strive for excellence in everything I do!!!</div>
		       <div> I work with Ruby, Rails, HTML, CSS5, Javascript</div>
		   </div>
		  </div>
		</div>    
   </header>
   <footer>
     <div class="container-fluid footer">
		<div class="row">
		   <div class="col-md-12">
		       <p>Powered by Javibier</p>
		   </div>
		</div>
	 </div>
   </footer>

</body>
</html>