<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<!--
Design by TEMPLATED
http://templated.co
Released for free under the Creative Commons Attribution License

Name       : Endearing Green 
Description: A two-column, fixed-width design with dark color scheme.
Version    : 1.0
Released   : 20130425

-->
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title></title>
<meta name="keywords" content="" />
<meta name="description" content="" />
<link href="http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700|Archivo+Narrow:400,700" rel="stylesheet" type="text/css">
<link href="default.css" rel="stylesheet" type="text/css" media="all" />
<!--[if IE 6]>
<link href="default_ie6.css" rel="stylesheet" type="text/css" />
<![endif]-->
</head>
<body>
<div id="wrapper-bg">
	<div id="wrapper">
		<div id="header" class="container">
			<div id="logo">
				<h1><a href="#"><span>JE </span>Professional Services</a></h1>
			</div>
			<div id="menu">
				<ul>
					<li><a href="#Bot">About Us</a></li>
					<li><a href="#Bot">Contact Us</a></li>
				</ul>
			</div>
		</div>
		<div id="banner" class="container"> <img src="assets/notary3.jpg" width="1200" height="400" alt="" /> </div>
		<div id="three-column" class="container">
			<header>
				<h2>Certified Mobile Notary and Signing Agent for Real Estate Closings</h2>
			</header>
			<div class="tbox1">
				<div class="box-style box-style01">
					<div class="content"> <a href="#" class="image image-full"><img src="assets/homeloan.jpeg" width="470" height="200" alt=""></a>
						<h2>Loan Closings</h2>
						<p>I am Certified by the NNA as a Notary Signing Agent, TRID compliant and maintain a current background check.</p>
						<a href="#" class="button-style">Learn More</a> </div>
				</div>
			</div>
			<div class="tbox2">
				<div class="box-style box-style02">
					<div class="content"> <a href="#" class="image image-full"><img src="assets/notary2.jpeg" width="470" height="200" alt=""></a>
						<h2>24/7 Mobile Notary</h2>
						<p> Due to today's busy schedule, I offer 24 hour mobile service. I come to your home, business or preferred location.</p>
						<a href="#" class="button-style">Learn More</a> </div>
				</div>
			</div>
			<div class="tbox3">
				<div class="box-style box-style03">
					<div class="content"> <a href="#" class="image image-full"><img src="assets/bookkeeping.jpeg" width="470" height="200" alt=""></a>
						<h2>Bookkeeper</h2>
						<p>With over 25 years of experience providing back office bookkeeping service solutions that are efficient and cost effective.</p>
						<a href="#" class="button-style">Learn More</a> </div>
				</div>
			</div>
		</div>
		<div id="page">
			<div id="content"></div>
			<div id="sidebar"></div>
		</div>
	</div>
	<div id="footer-content" class="container">
		<div id="fbox1">
			<h2>Recent Updates</h2>
			<ul class="style3">
				<li class="first">
					<p class="date"><a href="#">April<b>20</b></a></p>
					<h3>Amet sed volutpat mauris</h3>
					<p><a href="#">Mauris tempus nibh sodales adipiscing dolore.</a></p>
				</li>
				<li>
					<p class="date"><a href="#">April<b>18</b></a></p>
					<h3>Sagittis diam dolor sit amet</h3>
					<p><a href="#">Duis arcu tortor fringilla sed  sed magna.</a></p>
				</li>
				<li>
					<p class="date"><a href="#">April<b>15</b></a></p>
					<h3>Adipiscing sed consequat</h3>
					<p><a href="#">Pharetra ac velit sed in volutpat nisl mauris vel.</a></p>
				</li>
				<li>
			</ul>
		</div>
		<div id="fbox2">
			<h2><a id="Bot">About</a></h2>
			<p>My name is <strong>Javier Echevarria</strong>, a senior level professional with over 25 years of accounting experience.</p>
			<a href="#" class="button-style">Ipsum feugiat consequat</a> </div>
		<div id="fbox3">
			<h2>Contact</h2>
			<p>Nam erat a posuere laoreet eget nibh sodales adipiscing. Phasellus tristique dui.</p>
			<ul class="style5">
				<li class="first"><span class="address">Address</span> <span class="address-01">17190 SW 94th Ave. Unit 910 <br />
					Palmetto Bay, Fl. 33157</span> </li>
				<li> <span class="mail">Mail</span> <span class="mail-01"><a href="#">javierechevarria21@yahoo.com</a></span> </li>
				<li> <span class="phone">Phone</span> <span class="phone-01">(305) 748-1367</span> </li>
			</ul>
		</div>
	</div>
</div>
<div id="footer">
	<p>&copy; JE Professional Services. All rights reserved. Design by <a href="http://templated.co" rel="nofollow">TEMPLATED</a> and released under the <a href="http://creativecommons.org/licenses/by/3/">Creative Commons Attribution License</a> .</p>
</div>
</body>
</html>