<h2> Users details </h2>
<header>

  		 <ul>
  		 	  <li>
  		 	   <a href="/new"> Add New User </a>
  		 	  </li>
        </ul>

</header>

<ul>

	<% @users.each do |user| %>

	   <li><%= user.name%> , <%= user.address %> , <%= user.phone %>, , <%= user.email %></li>

	<% end %>

</ul>