<header>
  		<h1> Addressbook</h1>

  		 <ul>
  		 	  <li>
  		 	   <a href="/"> Home </a>
  		 	  </li>

  		 	  <li>
  		 	    <a href="/index"> Contacts </a>
          </li>
        </ul>

</header>