<!DOCTYPE html>
<html>
<head>
	<title>Javibier</title>
	<link rel="apple-touch-icon" sizes="144x144" href="/apple-touch-icon.png">
	<link rel="icon" type="image/png" href="/favicon-32x32.png" sizes="32x32">
	<link rel="icon" type="image/png" href="/favicon-16x16.png" sizes="16x16">
	<link rel="manifest" href="/manifest.json">
	<link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5">
	<meta name="theme-color" content="#ffffff">
</head>
<body>
  <header>
      <div class="container-fluid header">
		 <div class="row">
		   <div class="col-sm-6 text-left">
		      <a class="link" href="/">JE Home</a>
		   </div>   
		   <div class="col-sm-6 text-right">
		      <a class="link" href="/abouts">About Me</a>
		   </div>
        </div> 
      </div>
      <div class="container-fluid center">
		 <div class="row">
		   <div class="col-md-12">
		       <div>Contact</div>
		   </div>
		  </div>
		</div>
   </header>
  <div class="container-fluid list2">
    <div class="row">
	  <div class="col-md-12">
	    <div><a href="https://www.facebook.com/javierechevarria1/" target="_blank"><img src="/assets/fb.png" width = "50" height = "50"></a>
       	<a href="https://www.instagram.com/101vns/" target="_blank"><img src="/assets/insta.png" width = "50" height = "50"></a></div>
		<li> https://www.linkedin.com/in/javierechevarria1 </li>
		<li> https://github.com/javibier </li>
		<li> javierechevarria21@yahoo.com</li>
		<li> 305-748-1367</li>
	  </div>
    </div>
   </div> 
</body>
</html>