<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
  <header>
      <div class="container-fluid header">
		 <div class="row">
		   <div class="col-sm-6 text-left">
		      <a class="link" href="/">Home</a>
		   </div>   
		   <div class="col-sm-6 text-right">
		      <a class="link" href="/abouts">About Me</a>
		   </div>
        </div> 
      </div>
   </header>
  <div class="container-fluid bottom">
    <div class="row">
	  <div class="col-md-12">
		<div> javierechevarria21@yahoo.com</div>
		<div> 305-748-1367</div>
	  </div>
    </div>
   </div> 

</body>
</html>